#banner {
	background-color: blue;
	color: white;
	padding: 2vh 1vw;
	font-size: 2.5vh;
	text-align: center;
}

#container {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}